
html, body {
    background-color: darkgrey ;
    height: 100%;
}

.navbar {
    background-color: slategray;
    
    justify-content: center;
}

.footer {
    background-color: slategray;
}

#mainW {
    background-color: turquoise;
}


#d1 {
    
    background-color: skyblue;
   
    
}

#d2 {
    color: silver;
    background-color: royalblue;
 
   

}

#d3 {
    color: silver;
    background-color: slateblue;
  
    

}

#d4 {
    color: silver;
    background-color: steelblue;
    
   

}

#d5 {
    
    background-color: silver;
    

}

.city-btn {
    width: 80%;
    float: left;
    box-shadow: rgb(69, 136, 136);
}

#searchBtn {
    width: 80%;
    text-align: center;
    box-shadow: rgb(69, 136, 136);
}

#clear-history {
    width : 80%;
    box-shadow: rgb(69, 136, 136);
}